---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSection2 from "@components/sections/landing/HeroSection2.astro";
import HeroSection3 from "@components/sections/landing/HeroSection3.astro";
import HeroSection4 from "@components/sections/landing/HeroSection4.astro";
import HeroSection5 from "@components/sections/landing/HeroSection5.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import HeroSectionAlt2 from "@components/sections/landing/HeroSectionAlt2.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import FeaturesStatsAlt from "@/components/sections/features/FeaturesStatsAlt.astro";
import FeaturesStatsAlt2 from "@/components/sections/features/FeaturesStatsAlt2.astro";
import FeaturesStatsAlt3 from "@/components/sections/features/FeaturesStatsAlt3.astro";
import FeaturesStats from "@/components/sections/features/FeaturesStats.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";
import TestimonialsSectionAlt2 from "@components/sections/testimonials/TestimonialsSectionAlt2.astro";
import TestimonialsSectionAlt3 from "@components/sections/testimonials/TestimonialsSectionAlt3.astro";
import { Image } from "astro:assets";

// Testimonial data that will be rendered in the component
const testimonials = [
  // First testimonial data
  {
    content: ' "Descripción del beneficio." ',
    author: "01",
    role: "Esto es un beneficio",
    avatarSrc:
      "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  // Second testimonial data
  {
    content: ' "Descripción del beneficio." ',
    author: "02",
    role: "Esto es un beneficio",
    avatarSrc:
      "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  // Third testimonial data
  {
    content: ' "Descripción del beneficio." ',
    author: "03",
    role: "Esto es un beneficio",
    avatarSrc:
      "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  {
    content: ' "Descripción del beneficio." ',
    author: "04",
    role: "Esto es un beneficio",
    avatarSrc:
      "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
];

const servicios = [
  {
    author: "AI Generativa",
    role: "Esto es un beneficio",
    content: "Creación de contenido como imágenes, música y texto.",
    casos: "Mubert: 100 millones de canciones generadas.",
    avatarSrc:
      "https://news.mit.edu/sites/default/files/images/202311/GenAI-explain-01-press.jpg",
    avatarAlt: "Image Description",
  },
  {
    author: "AI Predictiva",
    role: "Esto es un beneficio",
    content: "Predicciones meteorológicas. Analisis de riesgos financieros.",
    casos: "Mejora 25% predicciones a corto plazo.",
    avatarSrc:
      "https://revistabyte.es/wp-content/uploads/2023/11/la-revolucion-de-la-inteligencia-artificial-en-sap.jpg",
    avatarAlt: "Image Description",
  },
  {
    author: "AI Descritiva",
    role: "Esto es un beneficio",
    content:
      "Tendencias de ventas y comportamiento del consumidor. Análisis de datos de pacientes en tiempo real.",
    casos: "Aumento del 60% en margen operativo de minoristas.",
    avatarSrc:
      "https://img.freepik.com/fotos-premium/aprovechando-ia-futuro-tecnologia-predictiva-automatizacion_1311447-1113.jpg",
    avatarAlt: "Image Description",
  },
  {
    author: "AI Prescriptiva",
    role: "Esto es un beneficio",
    content:
      "Eficiencia en la logística y la gestión de inventarios. Asistencia en la toma de decisiones clínicas.",
    casos: "Reducción de ingresos hospitalarios en 20%.",
    avatarSrc:
      "https://img.freepik.com/fotos-premium/ingeniero-revisando-maquinas-protocolo-seguridad-planta-fabricacion-maquinaria-generative-ai_1041269-155.jpg",
    avatarAlt: "Image Description",
  },
  {
    author: "AI de Procesamiento de Lenguaje Natural (NLP)",
    role: "Esto es un beneficio",
    content:
      "Asistentes virtuales: Siri, Alexa, y Google. Análisis de sentimientos en redes sociales",
    casos: "80% de las empresas considerando chatbots",
    avatarSrc:
      "https://elcom.com.vn/storage/uploads/images/FOa081grO9KmBLQlHomDeKFYb9pR7tkGQ0gukvVR.jpg",
    avatarAlt: "Image Description",
  },
  {
    author: "AI de Reconocimiento Visual",
    role: "Esto es un beneficio",
    content:
      "Seguridad y autenticación en dispositivos y sistemas, Diagnósticos médicos",
    casos: "Autenticación facial de 70 a 150 veces al día",
    avatarSrc:
      "https://img.freepik.com/fotos-premium/concepto-sistema-reconocimiento-facial-reconocimiento-facial_587448-3212.jpg",
    avatarAlt: "Image Description",
  },
  {
    author: "AI de Aprendizaje Profundo (Deep Learning)",
    role: "Esto es un beneficio",
    content:
      "Coches que se conducen solos, traducción automática, herramientas como Google Translate",
    casos: "60 millones de vehículos autónomos a 2030",
    avatarSrc:
      "https://cdn.pixabay.com/photo/2024/01/29/22/47/ai-generated-8540915_640.jpg",
    avatarAlt: "Image Description",
  },
  {
    author: "AI de Aprendizaje Automático (ML)",
    role: "Esto es un beneficio",
    content: "Recomendaciones personalizadas - Cadena de producción medicina.",
    casos: "16% de los casos de ceguera son debidos a retinopatía diabética",
    avatarSrc:
      "https://media.licdn.com/dms/image/v2/C4E12AQFF2gHMAG08Cg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1564688310711?e=2147483647&v=beta&t=PhkddA27cxrGatNx222AYo2nRvnyHL-ikW63Qk03vC4",
    avatarAlt: "Image Description",
  },
];

const casosExito = [
  {
    content:
      " \"Since switching to ScrewFast's hardware tools, the efficiency on our construction sites has skyrocketed. The durability of the hex bolts and precision of the machine screws are simply unmatched. It's refreshing to work with a company that truly understands the daily demands of the industry.\" ",
    author: "MACHINE LEARNING",
    role: "Site Foreman | TopBuild",
    avatarSrc:
      "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  {
    content:
      " \"As an interior designer, I'm always looking for high-quality materials and tools that help bring my visions to life. ScrewFast's mixed screws assortment has been a game-changer for my projects, providing the perfect blend of quality and variety. The outstanding customer support was just the cherry on top!\" ",
    author: "GEOLOCALIZACIÓN / GEOREFERENCIACIÓN",
    role: "Interior Designer | Creative Spaces",
    avatarSrc:
      "https://images.unsplash.com/photo-1544005313-94ddf0286df2?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  {
    content:
      " \"I’ve been a professional carpenter for over 15 years, and I can sincerely say that ScrewFast’s tap bolts and nuts are some of the best I've used. They grip like no other, and I have full confidence in every joint and fixture. Plus, the service is impeccable – they truly care about my project's success.\" ",
    author: "MLOPS",
    role: "Master Carpenter | WoodWright",
    avatarSrc:
      "https://images.unsplash.com/photo-1474176857210-7287d38d27c6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  {
    content:
      " \"I’ve been a professional carpenter for over 15 years, and I can sincerely say that ScrewFast’s tap bolts and nuts are some of the best I've used. They grip like no other, and I have full confidence in every joint and fixture. Plus, the service is impeccable – they truly care about my project's success.\" ",
    author: "DEEP LEARNING",
    role: "Master Carpenter | WoodWright",
    avatarSrc:
      "https://images.unsplash.com/photo-1474176857210-7287d38d27c6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  {
    content:
      " \"I’ve been a professional carpenter for over 15 years, and I can sincerely say that ScrewFast’s tap bolts and nuts are some of the best I've used. They grip like no other, and I have full confidence in every joint and fixture. Plus, the service is impeccable – they truly care about my project's success.\" ",
    author: "AI GENERATIVA",
    role: "Master Carpenter | WoodWright",
    avatarSrc:
      "https://images.unsplash.com/photo-1474176857210-7287d38d27c6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
];

const icons = [
  [
    [
      "https://upload.wikimedia.org/wikipedia/commons/9/99/Logo_de_Claro.svg",
      "w-32 h-32 mx-4",
    ],
    [
      "https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Bienestar_familiar_Colombia_logo.svg/1200px-Bienestar_familiar_Colombia_logo.svg.png",
      "w-28 h-28 mx-4",
    ],
    [
      "https://bancohojasdevida.saesas.gov.co/storage//img/sae_logo_outline.png",
      "w-32 h-32 mx-4",
    ],
    [
      "https://proksol.com/marketing/wp-content/uploads/2021/03/logo-haceb.png",
      "w-32 h-32 mx-4",
    ],
    [
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnW0wJc-1h2DPHZjgoetqT02AcC5OOC9q63A&s",
      "w-42 h-12 mt-12 mx-4",
    ],
    [
      "https://app2.mintrabajo.gov.co/CentrosEntrenamiento/imagenes_mapa/layout_set_logo.png",
      "w-52 h-36 mx-4",
    ],
    [
      "https://upload.wikimedia.org/wikipedia/commons/1/12/MinHacienda_%28Colombia%29_logo.png",
      "w-40 h-12 mt-12 mx-4",
    ],
  ],
  [
    [
      "https://upload.wikimedia.org/wikipedia/commons/9/99/Logo_de_Claro.svg",
      "w-32 h-32 mx-4",
    ],
    [
      "https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Bienestar_familiar_Colombia_logo.svg/1200px-Bienestar_familiar_Colombia_logo.svg.png",
      "w-28 h-28 mx-4",
    ],
    [
      "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnW0wJc-1h2DPHZjgoetqT02AcC5OOC9q63A&s",
      "w-42 h-12 mt-12 mx-4",
    ],
    [
      "https://www.lideresvisioncolombia.com.co/wp-content/uploads/2021/06/Logo-Inter-Rapidisimo-Vv-400x431-1.png",
      "w-32 h-32 mt-12 mx-4",
    ],
  ],
  [
    [
      "https://upload.wikimedia.org/wikipedia/commons/9/99/Logo_de_Claro.svg",
      "w-32 h-32 mx-4",
    ],
    [
      "https://www.icbf.gov.co/sites/default/files/logos/logocgr-v.png",
      "w-28 h-28 mx-4",
    ],
  ],
  [
    [
      "https://app2.mintrabajo.gov.co/CentrosEntrenamiento/imagenes_mapa/layout_set_logo.png",
      "w-52 h-36 mx-4",
    ],
  ],
  [
    [
      "https://app2.mintrabajo.gov.co/CentrosEntrenamiento/imagenes_mapa/layout_set_logo.png",
      "w-52 h-36 mx-4",
    ],
  ],
];

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<style>
  html {
    scroll-behavior: smooth;
  }
</style>

<style is:global>
  .didagent__fabio__container {
    min-height: 95vh;
  }
</style>

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`INTELIGENCIA <span
        class="text-yellow-700 dark:text-yellow-400">ARTIFICIAL</span>`
    subTitle=`<span class="text-gray dark:text-white-400 font-bold">Un acelerador de la transformación digital</span>, acompañamos a las empresas en su proceso de adopción e implementación de <span class="text-gray dark:text-white-400 font-bold">soluciones basadas</span> en Inteligencia Artificial.`
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <!--Testimonials section-->
  <!-- <TestimonialsSectionAlt title="Beneficios" testimonials={testimonials} /> -->

  <!--Productos IA-->
  <TestimonialsSectionAlt3 title="Servicios de AI" testimonials={servicios} />

  <!-- Smart Cities -->
  <>
    <HeroSectionAlt title=`Smart Cities` />
    <HeroSection2
      title=`Reinventamos el <span
        class="text-yellow-700 dark:text-yellow-400">futuro</span> urbano`
      subTitle="Con IA, reinventamos el futuro urbano, promoviendo el bienestar de las personas y el medio ambiente."
      primaryBtn="Start Exploring"
      primaryBtnURL="/products"
      secondaryBtn="Contact Sales Team"
      secondaryBtnURL="/contact"
      withReview={true}
      avatars={avatarSrcs}
      rating=`<span class="font-bold">4.8</span> / 5`
      starCount={4}
      reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
      src={heroImage}
      alt="Stack of ScrewFast product boxes containing assorted hardware tools"
    />
    <FeaturesStatsAlt2
      title=""
      subTitle="Transform your ideas into tangible results."
      benefits={["Item.", "Item.", "Item."]}
    />
  </>

  <!-- Agro -->
  <div class="relative rounded-xl bg-[#226c60b3] pb-10">
    <!-- <HeroSectionAlt2 title=`Agro` /> -->

    <div class="mx-auto max-w-xl pt-10 text-center">
      <h2
        class="block text-balance text-4xl font-bold leading-tight tracking-tight text-neutral-200 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        Agro
      </h2>
    </div>

    <HeroSection3
      title=`Impulsando una agricultura más eficiente y sostenible`
      subTitle=`<span class="text-white">La 
          <span class="text-white dark:text-white-400 font-bold">
            visión por computadora
          </span> es una rama de la  inteligencia artificial que permite a las computadoras interpretar y comprender imágenes y videos. En los últimos años, ha habido un gran avance en esta tecnología, lo que ha permitido su aplicación en una amplia variedad de campos, como la agricultura.</span>`
      primaryBtn="Start Exploring"
      primaryBtnURL="/products"
      secondaryBtn="Contact Sales Team"
      secondaryBtnURL="/contact"
      withReview={true}
      avatars={avatarSrcs}
      rating=`<span class="font-bold">4.8</span> / 5`
      starCount={4}
      reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
      src={heroImage}
      alt="Stack of ScrewFast product boxes containing assorted hardware tools"
    />

    <FeaturesStatsAlt3
      title="Reconocimiento facial"
      subTitle="Transform your ideas into tangible results."
      benefits={["Item.", "Item.", "Item."]}
    />

    <div class="mx-6 mb-7">
      <p
        class="text-pretty text-justify text-lg text-neutral-200 dark:text-neutral-400"
      >
        En estos tres videos,
        <span class="text-gray dark:text-white-400 font-bold">
          se muestra cómo se puede utilizar la visión por computadora
        </span>
        para identificar y contar racimos de plátano, manzanas y naranjas. Esto puede
        ser muy útil para los agricultores, ya que les permite tener una mejor idea
        de la cantidad de fruta que tienen en sus campos.
        <br /><br />
        <span class="text-gray dark:text-white-400 font-bold">
          La tecnología utilizada en estos videos es bastante sofisticada.
        </span>
        Las computadoras utilizan algoritmos de aprendizaje profundo para entrenar
        modelos que pueden identificar diferentes tipos de fruta.
        <span class="text-gray dark:text-white-400 font-bold">
          Estos modelos se entrenan utilizando grandes conjuntos de datos de
          imágenes de fruta.
        </span>
        Una vez que los modelos están entrenados, se pueden utilizar para identificar
        y contar la fruta en tiempo real. Esto se puede hacer utilizando cámaras
        montadas en tractores o drones. La visión por computadora es una tecnología
        muy prometedora que tiene
        <span class="text-gray dark:text-white-400 font-bold">
          el potencial de revolucionar la agricultura.
        </span>
        En el futuro, es probable que se utilicen cada vez más para mejorar la eficiencia
        y la productividad de los agricultores.
      </p>
    </div>

    <img
      src="https://mtdevpocstorage.blob.core.windows.net/exposurehitss/agro.avif?sp=r&st=2024-10-22T03:04:54Z&se=2025-10-21T11:04:54Z&sv=2022-11-02&sr=b&sig=CwPrEJPBDPtpfdwsKmk%2F31DakETCm4evteNO1hJz6nk%3D"
      alt="Agro"
      class="absolute top-0 -z-10 h-full w-full rounded-xl object-cover object-center"
      draggable={"false"}
      loading={"eager"}
    />
  </div>

  <!-- AffectWave -->
  <div id="affect"></div>
  <HeroSectionAlt title=`AffectWave` />
  <HeroSection4
    title=`Análisis de <span
        class="text-yellow-700 dark:text-yellow-400">sentimientos</span>`
    subTitle="Con IA, reinventamos el futuro urbano, promoviendo el bienestar de las personas y el medio ambiente."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />
  <div class="mx-44">
    <p
      class="text-pretty text-justify text-lg text-neutral-600 dark:text-neutral-400"
    >
      La <span class="text-yellow-700 dark:text-yellow-400"
        >inteligencia artificial</span
      > está revolucionando el campo de la salud, permitiendo la detección temprana
      de enfermedades y el desarrollo de tratamientos más personalizados. En nuestro
      caso, hemos desarrollado un sistema de IA capaz de identificar <span
        class="text-yellow-700 dark:text-yellow-400"
        >sentimientos y emociones</span
      >, así como de detectar posibles afecciones cardiacas en tiempo real. <br
      /><br /> Nuestro sistema utiliza algoritmos de aprendizaje profundo para analizar
      una variedad de datos, como <span
        class="text-yellow-700 dark:text-yellow-400">expresiones faciales</span
      > captadas por una cámara, el tono de voz durante una conversación o las señales
      vitales de un paciente. Al identificar patrones en estos datos, podemos detectar
      cambios sutiles que pueden indicar la presencia de una enfermedad o un estado
      emocional determinado. Por ejemplo, un cambio en la frecuencia cardíaca o en
      la variabilidad del ritmo cardíaco puede ser un indicador de una posible afección
      cardíaca.
    </p>
  </div>
  <div class="flex w-full justify-center">
    <div class="top-12 overflow-hidden"></div>
  </div>

  <!-- SkillMatch / TalentSync/ JobFit AI  -->
  <div id="SkillMatch" class="mt-20 rounded-xl bg-yellow-700 pb-20">
    <!-- <HeroSectionAlt2 title=`SkillMatch` /> -->

    <div class="mx-auto max-w-xl py-10 text-center">
      <h2
        class="block text-balance text-4xl font-bold leading-tight tracking-tight text-neutral-200 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        SkillMatch
      </h2>
    </div>

    <div class="mx-20">
      <p
        class="text-pretty text-justify text-lg text-neutral-200 dark:text-neutral-400"
      >
        Es lasolución de inteligencia artificial que
        <span class="font-bold text-white">revoluciona el reclutamiento.</span>
        Utilizando algoritmos avanzados,
        <span class="font-bold text-white">
          analizamos tu perfil profesional y lo comparamos con miles de ofertas
          de empleo.
        </span>
        Gracias a nuestro sistema de ponderación de habilidades, encontramos el trabajo
        ideal para ti, maximizando tus oportunidades laborales.
      </p>
    </div>
    <div class="flex w-full justify-center">
      <div class="top-12 mt-6 overflow-hidden">
        <video
          width="700"
          height="700"
          controls
          autoplay
          loop
          muted
          class="rounded-lg"
        >
          <source
            src="https://mtdevpocstorage.blob.core.windows.net/exposurehitss/emparejamiento-prestador.mp4?sp=r&st=2024-10-23T13:34:36Z&se=2025-10-23T21:34:36Z&sv=2022-11-02&sr=b&sig=BSQ3joy2xuxcCURiizkExpFP8VEcbN6NJ%2FIyZzJjDEU%3D"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <!-- <div
      class="mx-10 mt-10 hidden justify-evenly rounded-xl bg-white p-10 sm:flex"
    >
      <img
        src="https://mtdevpocstorage.blob.core.windows.net/exposurehitss/mintrabajo.png?sp=r&st=2024-10-22T03:12:03Z&se=2025-10-22T11:12:03Z&sv=2022-11-02&sr=b&sig=dNQoMd3yI5fBrU39MXZPKT7NVlKgPgAwlpXr046jk4Y%3D"
        alt="minTrabajo"
        class="h-20 w-auto object-cover object-center"
        draggable={"false"}
        loading={"eager"}
      />

      <img
        src="https://mtdevpocstorage.blob.core.windows.net/exposurehitss/ColombiaPotenciaDeLaVida.png?sp=r&st=2024-10-22T03:12:42Z&se=2025-10-22T11:12:42Z&sv=2022-11-02&sr=b&sig=RsaaCP9CtcUb6FecawWaLvwV6ua2mP5rViZlYZz5Pa0%3D"
        alt="colombiaPotencia"
        class="h-20 w-auto object-cover object-center"
        draggable={"false"}
        loading={"eager"}
      />

      <img
        src="https://mtdevpocstorage.blob.core.windows.net/exposurehitss/servicioDeEmpleo.png?sp=r&st=2024-10-22T03:13:02Z&se=2025-10-22T11:13:02Z&sv=2022-11-02&sr=b&sig=PGLE38njvTTJdYdaXD7nm94KN0TeBumTDcNXQjnfmcw%3D"
        alt="sevicioEmpleo"
        class="h-20 w-auto object-cover object-center"
        draggable={"false"}
        loading={"eager"}
      />
    </div> -->
  </div>

  <!-- Identificación de objetos / productos  -->
  <div id="Identificación" class="my-10">
    <HeroSectionAlt title=`Identificación de objetos / productos` />
    <HeroSection5
      title=`Análisis de <span
          class="text-yellow-700 dark:text-yellow-400">sentimientos</span>`
      subTitle="Con IA, reinventamos el futuro urbano, promoviendo el bienestar de las personas y el medio ambiente."
      primaryBtn="Start Exploring"
      primaryBtnURL="/products"
      secondaryBtn="Contact Sales Team"
      secondaryBtnURL="/contact"
      withReview={true}
      avatars={avatarSrcs}
      rating=`<span class="font-bold">4.8</span> / 5`
      starCount={4}
      reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
      src={heroImage}
      alt="Stack of ScrewFast product boxes containing assorted hardware tools"
    />
    <div class="flex w-full justify-center">
      <div class="top-12 overflow-hidden"></div>
    </div>
  </div>

  <!-- Casos de exito -->
  <TestimonialsSectionAlt2
    title="Casos De Exito"
    testimonials={casosExito}
    icons={icons}
  />

  <!-- Seguridad Industrial -->
  <!-- <div id="segurity"></div>
  <HeroSectionAlt2
    title=`Seguridad Industrial`
    subTitle="Anticipar riesgos y mejorar la prevención de accidentes"
  />
  <div class="flex w-full justify-center">
    <div class="top-12 overflow-hidden">
      <video
        width="700"
        height="700"
        controls
        autoplay
        loop
        muted
        class="rounded-lg"
      >
        <source
          src="https://mtdevpocstorage.blob.core.windows.net/exposurehitss/objetos.mp4?sp=r&st=2024-09-17T21:33:58Z&se=2025-01-01T05:00:00Z&spr=https&sv=2022-11-02&sr=b&sig=T0D8i4SI1ZHXqm875WYfHJK7YM%2FXQFCW9Q1OR3eNH7U%3D"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="mt-36"></div> -->

  <!-- <FeaturesStats
    title="Reconocimiento facial"
    subTitle="Transform your ideas into tangible results."
  /> -->

  <!-- <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  /> -->

  <!-- <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="At ScrewFast, we tackle the unique challenges encountered in the hardware and construction sectors. From cutting-edge tools to expert services, we're dedicated to helping you overcome obstacles and achieve your goals."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  /> -->

  <!-- <FeaturesNavs
    title=`Customize <span class="text-yellow-700 dark:text-yellow-400">ScrewFast</span>'s offerings to perfectly suit your hardware and construction needs.`
    tabs={[
      {
        heading: "Cutting-Edge Tools",
        content:
          "Empower your projects with ScrewFast's cutting-edge tools. Experience enhanced efficiency in construction management with our sophisticated automated solutions.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Intuitive Dashboards",
        content:
          "Navigate with ease using ScrewFast's intuitive dashboards. Set up and oversee your projects seamlessly, with user-friendly interfaces designed for quick and effective workflow management.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Robust Features",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  /> -->

  <!-- <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  /> -->

  <!-- <PricingSection pricing={pricing} /> -->

  <!-- <FAQ title="Preguntas Frecuentes" faqs={faqs} /> -->

  <!-- <HeroSectionAlt
    title="Let's Build Together"
    subTitle="ScrewFast is an open-source template, meticulously crafted with Astro, Tailwind CSS, and Preline UI frameworks."
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->
</MainLayout>

<script
  is:inline
  type="module"
  src="https://agent.d-id.com/v1/index.js"
  data-name="did-agent"
  data-mode="fabio"
  data-client-key="Z29vZ2xlLW9hdXRoMnwxMTc4MzQzNTgwNzAwMTYyOTc5Nzg6M1FNalpmZnFkY3BQXzJoZ3NTUW9o"
  data-agent-id="agt_c3F1H9nj"
  data-monitor="true"></script>

<script is:inline type="module">
  console.log("Inicio");
  // Busca el contenedor padre didagent_target
  let getDiv = false;

  const intervalId = setInterval(() => {
    if (document.querySelector('[data-testid="didagent_root"]')) {
      const shadowRoot = document.querySelector(
        '[data-testid="didagent_root"]'
      ).shadowRoot;

      const styleElement = document.createElement("style");
      styleElement.textContent = `
        .didagent__fabio__container {
            min-height: 100vh;
            position: fixed !important;
            width: 100%;
        }
        .didagent__embedded__video__container {
            display: flex;
            justify-content: center;
        }
        .didagent__embedded__video__container video {
            width: 60%;
        }
    `;

      shadowRoot.appendChild(styleElement);
      getDiv = true;

      // Detener el intervalo cuando el elemento se haya encontrado
      clearInterval(intervalId);
    }
  }, 2000);
</script>
